body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff !important;
  font-weight: 300;
  margin: 0;
  line-height: 1.6rem;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #232323;
  color: white;
  height: 70px;
}

h3 {
  font-family: "Roboto", sans-serif;
}

.left-navbar h3 {
  font-size: 25px;
}

header .left-navbar {
  margin-left: 10rem;
}

header .left-navbar img {
  height: 5rem;
  object-fit: cover;
}

header .right-navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .right-navbar ul li {
  list-style: none;
  padding: 0.7rem;
  text-transform: uppercase;
}

header .right-navbar ul li a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease;
  position: relative;
  color: rgb(255, 255, 255);
}

header .right-navbar ul li a::after {
  content: "";
  background-color: #fbca47;
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: all 0.2s ease;
}

header .right-navbar ul li a:hover {
  color: #fbca47;
}

header .right-navbar ul li a:hover:after {
  width: 100%;
}

header .bar {
  display: none;
}

article {
  --img-scale: 1.001;
  --title-color: #232323;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  height: 350px;
  width: 250px;
}

p {
  margin-top: 0;
  margin-bottom: 1px !important;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: 'Open Sans', sans-serif;
  ;
  font-size: 24px;
  letter-spacing: 0.7px;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
  height: auto;
}

.article-body {
  padding: 24px;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}


.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  padding-top: 80px;
  padding-bottom: 50px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  background-color: white;

}

.footer_section {
  background-color: #232323;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #fbfcfd;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.footer_section a {
  color: #fbfcfd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}